
.main-header {
  height: 75px;
  vertical-align: middle;
  padding-left: 18%;
  padding-right: 18%;
  background: #133140;
  color: #fafafa;
  font-family: Trebuchet MS;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#main-logo {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  float: left;
  background-image: url(https://s3.amazonaws.com/nd.images/uploads/paw_gplus.png);
  background-size: cover;
}

#main-title {
  float: left;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-left: 12px;
  margin-top: 24px;
}

#main-menu {
  list-style: none;
  display: inline-block;
  margin-top: 28px;
  float: right;
  
  li {
    display: inline-block;
    
    a {
      text-decoration: none;
      padding: 16px;
      font-size: 11.5pt;
      color: #eee;
      &:hover {
        color: #fff;
        background: rgba(255,255,255,0.05);
      }
    }

  }

}